@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css");
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

* {
    margin: 0;
    padding: 0;
}

.container {
    width: 75%;
}


.btn-success {
    color: white;
    background-color: #BAD940;
    border: none;
}

.btn-success:hover {
    color: white;
    background-color: #BAD940;
}

.navLogo {
    width: 30em;
}

#navText {
    font-family: satisfy;
    font-size: 1.4em;
    color: #767676;
}

.wrapper {
    border: 2px solid #eeeeee;
    display: inline-block;
    border-radius: 5px;
}


.wrapper input, button {
    background-color: transparent;
    border: 0;
    box-shadow: transparent;
}

#navList a:hover {
    color: #BAD940;
}

#navList {
    margin-left: 0;
    
}

#section1 {
    background-color: #A6A9A2;
    color: white;
}

#section1 button {
    padding: 1.5% 4%;
    border: 3px solid #eee;
    background-color: #70716b;
    color: white;
    border-radius: 5px;
}

/* #section2 {
    background-image: url(../images/father-son.jpg);
    height: 67vh;
    background-position-x: -23em;
    background-position-y: -14em;
    padding: 6em;
    color: #3f3f3f;
} */

#section2 {
    background-image: url(../images/father-son.jpg);
    background-position-x: -23em;
    background-position-y: -14em;
}

.block2Text {
    font-size: 2em;
}

.sectionText {
    color: #767676
}

#aboutUs {
    color: #0e0e0e;
}

#aboutList {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    list-style-image: url(../images/arrow1.png);
}

#section3 button {
    background-color: #BAD940;
    border: none;
    padding: 1em 0em;
}

#section4 {
    margin: 2em 0em;
}

/* #section4 {
    background-image: url(../images/hbg4a.png);
    color: white;
    height: 76vh;
    background-size: cover;
} */

#tooltipSection {
    color: white;
    background-image: url(../images/hbg5a.png);
    background-position-y: -10em;
    margin-bottom: 1.5em;
    height: 66vh;
}

.tooltipHead {
    position: absolute;
    margin-top: -2.3em;
    color: #BAD940;
    margin-left: 1em;
}

#section5 {
    background-image: url(../images/hbg6a.png);
    line-height: 1.8em;
}

.sectionHead {
    color: #535353;
    font-size: 1.5em;
}

.cardButton {
    padding: 10px 30px 10px 30px;
    background-color: #BAD940;
    color: white;
}

.cardFooter {
    border: none;
    background-color: transparent;
}

#section6 {
    color: white;
    background-image: url(../images/hbg5a.png);
}

.blogCard {
    border: none;
}

#blogCardTitle:hover ~ #cardBlockButton {
    background: #BAD940;
}



#section8 {
    background-color: #A6A9A2;
    color: white;
}

#section8 button {
    padding: 1.5% 4%;
    border: 3px solid #eee;
    background-color: #70716b;
    color: white;
    border-radius: 5px;
}

.footer {
    background-color: #333333;
}

#footerTag {
    font-family: satisfy;
    color: white;
    font-size: 2.5em;
}

.footerText {
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: 1.4em;
    color: #eee;
    
}

.footerButton {
    padding: 1.2rem;
}

.footerTitle {
    color: #eee;
}

.footerNav {
    color: #535353;
    list-style-image: url(../images/icon4.png);
}

.footerBot {
    background-color: black;
    color: #545454;
}

.footerTweets {
    list-style-image: url(../images/icon9.png);
}


/* Medium devices (tablets, 768px and up) 
  The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
    .dropdown:hover .dropdown-menu {
        display: block;
        margin-top: 0;
        border-radius:0;
   }

   #section2 {
       height: 66vh;
   }
}

@media (max-width:768px) {
    .container {
        width: 100%;
    }

    .downloadText {
        font-size: 1.5em;
    }

    .navbar-nav {
        text-align: center;
    }
    
    #navText {
        margin-bottom: 5em;
        justify-content: center;
    }

    .zoom {
        transform: scale(1.5);
        margin: 1.5em 0em;
    }

    .wrapper {
        width: 100%;
    }

    .wrapper input {
        width: 100%;
    }

    .contactButton {
        width: 100%;
    }

    #secGirl {
        width: 100%;
    }

    #section4 img {
        width: 100vh;
        overflow: hidden;
    }

    .sectionHead {
        font-size: 1.3em;
    }

    .footerButton {
        margin-bottom: 1em;
    }

    .footerBot {
        text-align: center;
        line-height: 1.8em;
    }
}

@media (max-width: 576px) {
    #tooltipSection {
        height: 100%;
    }

    .tooltipHead {
        margin-left: 4.4em;
    }

    #section6 img {
        width: 60%;
    }
}